h1 {
    color: rgb(8, 140, 180);
    font-size: 20px;
  }
h2 {
    color:rgb(44, 158, 120);
    font-size: 18px;
}  
ul {
    color:rgb(87, 9, 160);
    font-size: 12px;
}
h3 {
    color:cadetblue;
    font-size: 15px;
}